<table>
    <thead>
        <tr>
            <th>{{ i18n "name" }}</th>
            <th>{{ i18n "category" }}</th>
            <th>{{ i18n "distress" }}</th>
        </tr>
    </thead>
    <tbody>
        {{ range sort .Site.Data.skills_en "name" "asc" }}
        <tr>
            <td>
                {{ if .url }}
                <a href="{{ .url }}" target="_blank">
                    {{ .name }}
                </a>
                {{ else }}
                {{ .name }}
                {{ end }}
            </td>
            <td>
                {{ .category }}
            </td>
            <td>
                {{ if .distress }}
                    {{ i18n "_yes" }}
                {{ else }}
                    {{ i18n "_no" }}
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>


